<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DIY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E6DE7CF1BDC21E500814CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E6DE7E81BDC21E600814CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E6DE7F31BDC21E600814CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
